@import "variables";

.login{
    // position: absolute;
    // width: 100vw;
    // height: 900px;

    background: $light;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   

    .sec {
        
        .sec-header{
            display: flex;

            .logo{
                position: absolute;
                width: 24.75px;
                height: 25px;
                left: 97px;
                top: 107.67px;
            }

            .lendsqr{
                position: absolute;
                width: 138.44px;
                height: 36px;
                left: 132.33px;
                top: 106px;
            }
        }

        .pablo {
            position: absolute;
            width: 600px;
            height: 337.57px;
            left: 67px;
            top: 281px;
        }
    }
    .form-section{
            width: 704px;
            height: 900px;
            left: 736px;
            top: -5px;        
            background: $light;
            box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);

        h3{
            position: absolute;
            width: 183px;
            height: 55px;
            left: 836px;
            top: 215px;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 55px;
            letter-spacing: -0.04em;
            color: $dark-blue;
        }

       .p{
            position: absolute;
            width: 194px;
            height: 28px;
            left: 836px;
            top: 290px;
            font-family: 'Avenir Next';
            font-style: normal;
            font-weight: $font-normal;
            font-size: $text-lg;
            line-height: 27px;
            color: $light-blue;
        }

        
            
        input{
            box-sizing: border-box;
            
            position: absolute;
            width: 447px;
            height: 50px;
            padding-left: $text-md;
            background: $light;
            border: 2px solid rgba(84, 95, 125, 0.15);
            border-radius: 5px;
        }
        .input-email{
            left: 836px;
                top: 368px;
        }
        .input-pass{
            left: 836px;
            top: 442px;
        }

        .show{
            position: absolute;
            width: 49.41px;
            height: 12.5px;
            left: 1215.95px;
            top: 450px;
        
            font-family: 'Avenir Next';
            font-style: normal;
            font-weight: $semi-bold;
            font-size: $text-xs;
            line-height: $text-md;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $light-cyan;
        }
        
        .a{
            position: absolute;
                width: 147px;
                height: 17px;
                left: 836px;
                top: 516px;
            
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: $semi-bold;
                font-size: 12px;
                line-height: 16px;
            
                text-align: right;
                letter-spacing: 0.1em;
                text-decoration: none;                
                color: $light-cyan;
        }
        
       .btn-link {
            position: absolute;
            left: 836px;
            top: 563px;

            button{
                width: 447px;
                height: 48px;
                background-color: $light-cyan;
                border-radius: 8px;
                font-weight: $semi-bold;
                font-size: $text-sm;
                line-height: 19px;
                text-align: center;
                letter-spacing: 0.1em;
                color: $light;
        }

      
       } 
    }
    
}
.sm-login {
    display: none ;
}

@media only screen and (max-width: 600px){
       .sm-login{
        display: block;

        .sm-logo{
                width: 24.75px;
                height: 25px;
                padding-top: 30px;

                .logo {
                        position: absolute;
                        width: 24.75px;
                        height: 25px;
                        margin-left: 20px;
                    }
                
                    .lendsqr {
                        position: absolute;
                        width: 138.44px;
                        height: 36px;
                        margin-left: 55px;
                    }
        }

        .sm-pablo{
            width: 90vw;
            padding-top: 50px;
        }
       }

       .sm-form-section{
        margin: 20px 30px 20px 30px;

        h3 {
                width: 183px;
                height: 55px;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 55px;
                letter-spacing: -0.04em;
                color: $dark-blue;
            }
        .p {
            width: 194px;
            height: 28px;
            font-family: 'Avenir Next';
            font-style: normal;
            font-weight: $font-normal;
            font-size: $text-lg;
            line-height: 27px;
            color: $light-blue;
        }

                input {
                    box-sizing: border-box;
                    width: 400px;
                    height: 50px;
                    padding-left: $text-md;
                    background: $light;
                    border: 2px solid rgba(84, 95, 125, 0.15);
                    border-radius: 5px;
                }
                .sm-input-pass{
                    margin-top: 16px;
                }
                .a{
            position: absolute;
                width: 147px;
                height: 17px;
                left: 836px;
                top: 516px;
            
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: $semi-bold;
                font-size: 12px;
                line-height: 16px;
            
                text-align: right;
                letter-spacing: 0.1em;
                text-decoration: none;                
                color: $light-cyan;
        }
        
       .btn-link {
            position: absolute;
            left: 836px;
            top: 563px;

            button{
                width: 447px;
                height: 48px;
                background-color: $light-cyan;
                border-radius: 8px;
                font-weight: $semi-bold;
                font-size: $text-sm;
                line-height: 19px;
                text-align: center;
                letter-spacing: 0.1em;
                color: $light;
        }

      
       } 

           .sm-link{
            position: unset !important;
               font-family: 'Avenir Next';
               font-style: normal;
               font-weight: $semi-bold;
               font-size: 12px;
               line-height: 16px;
               letter-spacing: 0.1em;
               text-decoration: none;
               color: $light-cyan;
           }

                   .sm-btn-link {
                      position: unset !important;
                      
        
                       button {
                           width: 400px;
                           height: 48px;
                        margin-top: 30px;
                           background-color: $light-cyan;
                           border-radius: 8px;
                           font-weight: $semi-bold;
                           font-size: $text-sm;
                           line-height: 19px;
                           text-align: center;
                           letter-spacing: 0.1em;
                           color: $light;
                       }
        
        
                   }
           
       }
           
       .login{
        display: none !important;
       }
}