@import "variables";

.header{
        font-family: $sans;
    position: absolute;
    top: 160px;
    left: 343px;
    padding-right: 60px;

    .heading{
        font-weight: $font-normal2;
        font-size: $text-xl;
        line-height: 28px;
        color: $dark-blue;
    }

    .mySwiper{
        display: none;
    }
    
    section{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 26px;
    }

    .container{
        width: 220px;
        height: 160px;
        top: 228px;
        padding-top: 20px;
        padding-left: 30px;
        background-color: $light;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(33, 63, 125, 0.06);
        border-radius: 20px;
        
        box-shadow: $shadow3;

        .text{
            font-size: $text-sm;
            font-weight: $font-normal2;
            top: 302px;
            line-height: 16.42px;
            color: $light-blue;
            text-transform: uppercase;
            
        }

                .figure {
                    top: 330px;
                    font-size: $text-xl;
                    line-height: 28px;
                    font-weight: $semi-bold;
                    color: $dark-blue;
                }
    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;

    }

    


    .user{
        background-color: rgba(223, 24, 255, 0.1);
        color: $light-purp;
    }
    .active{
        background-color: rgba(87, 24, 255, 0.1);
        color: $deep-purp;
    }
    .loan{
        background-color: rgba(245, 95, 68, 0.1);
        color: $light-orange;
    }
    .saving{
        background-color: rgba(255, 51, 102, 0.1);
        color: $deep-orange;
    }
}


@media only screen and (max-width: 600px){
    .header{
        padding: 0 20px 0 20px;
        width: 100vw;
        left: auto  !important;
        // overflow-x: scroll;
    }

    .laptop-view{
        display: none !important;
    }

    .mySwiper{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr); 
        
   }
}